<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Info.plist
   RNPrintPDF

   Created by 芦路 on 2017/4/27.
   Copyright (c) 2017年 maichong. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>CFBundleExecutable</key>
        <string>$(EXECUTABLE_NAME)</string>
        <key>CFBundleIdentifier</key>
        <string>com.blick-labs.$(PRODUCT_NAME:rfc1034identifier)</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>$(PRODUCT_NAME)</string>
        <key>CFBundlePackageType</key>
        <string>BNDL</string>
        <key>CFBundleShortVersionString</key>
        <string>1.0</string>
        <key>NSBluetoothPeripheralUsageDescription</key>
        <string>Use Bluetooth for communication with the printer.</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>CFBundleVersion</key>
        <string>1</string>
        <key>UISupportedExternalAccessoryProtocols</key>
        <array>
            <string>jp.star-m.starpro</string>
        </array>
    </dict>
</plist>
